<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Nordref · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
     <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
  <%= if Map.has_key?(assigns, :current_user) do %>
    <header class="p-2">
        <section class="container-fluid">
          <div class="row pt-4">
            <div class="col-3 d-flex">
              <div class="align-self-center">
                <a href="<%= Routes.page_path(@conn, :index) %>">
                  <img src="<%= Routes.static_path(@conn, "/images/whistle.png") %>"/>
                </a>
              </div>
            </div>
            <div class="col-3 offset-6 d-flex justify-content-end">

              <div class="dropdown dropdown--user dropdown--circled dropdown--left">
                <div class="dropdown-toggle dropdown-toggle--no-caret" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link to: Routes.page_path(@conn, :index), class: "dropdown-item" do %>
                  <i class="fas fa-calendar-alt"></i>
                  Meine Kurse
                  <% end %>

                  <%= link to: Routes.user_path(@conn, :show, @current_user.id), class: "dropdown-item" do %>
                  <i class="fas fa-info-circle"></i>
                  Meine Daten
                  <% end %>

                  <%= if club_admin?(@current_user) do %>
                    <%= link to: Routes.page_path(@conn, :club_members), class: "dropdown-item" do %>
                    <i class="fas fa-cubes"></i>
                    Mein Verein
                    <% end %>
                  <% end %>

                  <%= if super_admin_or_admin?(@current_user) do %>
                    <%= link to: Routes.administration_path(@conn, :index), class: "dropdown-item" do %>
                    <i class="fas fa-wrench"></i>
                    Administration
                    <% end %>
                  <% end %>

                  <%= link to: Routes.session_path(@conn, :logout), class: "dropdown-item" do %>
                  <i class="fas fa-sign-out-alt"></i>
                  Abmelden
                  <% end %>

                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- <section class="container-fluid">
          <div class="row">
            <%= if super_admin_or_admin?(@current_user) do %>
            <nav role="navigation">
            <ul class="nav">
            <li class="nav-link">
                <%= link to: Routes.course_path(@conn, :index) do %>
                <span class="fas fa-user"></span>
                Kurse
                <% end %>
            </li>
            <li class="nav-link">
                <%= link to: Routes.registration_path(@conn, :index) do %>
                <span class=""></span>
                <% end %>
            </li>
            <li class="nav-link">
                <%= link to: Routes.season_path(@conn, :index) do %>
                <span class=""></span>
                <% end %>
            </li>
            <li class="nav-link">
                <%= link to: Routes.club_path(@conn, :index) do %>
                <span class=""></span>
                <% end %>
            </li>
            <li class="nav-link">
                <%= link to: Routes.user_path(@conn, :index) do %>
                <span class=""></span>
                <% end %>
            </li>
            <li class="nav-link">
                <%= link to: Routes.association_path(@conn, :index) do %>
                <span class=""></span>
                <% end %>
            </li>
            <li class="nav-link">
                <%= link to: Routes.administration_path(@conn, :index) do %>
                <span class=""></span>
                <% end %>
            </li>
            <li class="nav-link">
                <%= link to: Routes.session_path(@conn, :logout) do %>
                <span class=""></span>
                <% end %>
            </li>
            </ul>
            </nav>
            <% end %>
          </div>
        </section> -->
      </header>
  <% end %>
  <%= @inner_content %>
  </body>
</html>
