<h1>Show License</h1>

<ul>

  <li>
    <strong>License number:</strong>
    <%= @license.number %>
  </li>

  <li>
    <strong>License type:</strong>
    <%= @license.type %>
  </li>

  <li>
    <strong>Season:</strong>
    <%= @license.season %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.license_path(@conn, :edit, @license) %></span>
<span><%= link "Back", to: Routes.license_path(@conn, :index) %></span>
