/* This file is for your main application css. */

// @import "./phoenix.scss";



:root {
    --primary-color: #c9b8a4;
    --secondary-color: #00a7a2;
    --accent-color: #475d36;
}

* {
    box-sizing: border-box;
}

html {
    color: #333;
}

body {
    font-size: 1.0rem;
}

// Remove the caret from dropdown toggles
.dropdown-toggle--no-caret::after {
  display: none;
  content: '';
}

.fas {
  font-size: 0.9rem;
}

.courses {
    list-style: none;
}

.course-modal .phx-modal-content {
    max-width: 720px;
}

.course {
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px;
  margin-top: 32px;
}

.course_name {
  font-weight: bold;

  a {
    color: #333;
  }
}

.course_date {
  color: #666;
}

