/* This file is for your main application css. */

// @import "./phoenix.scss";

$other-color: #FFB4A2;

$primary-color: #ad5c5c; //#E5989B;
$secondary-color: #B5838D;
$dark-color: #6D6875;


:root {
    --primary-color: #c9b8a4;
    --secondary-color: #00a7a2;
    --accent-color: #475d36;
}

* {
    box-sizing: border-box;
}

html {
    color: #333;
}

body {
    font-size: 1.0rem;
}

header {
  min-height: 100px;

  a {
    color: white;
  }
}

.btn-primary {
  background: $primary-color;
  border-color: $primary-color;

  &:hover, &:active, &:focus, &:focus:active {
    background: $secondary-color !important;
    border-color: $secondary-color !important;
  }

  &:focus,
  &:focus:active {
    box-shadow: 0 0 7px $primary-color !important;
  }
}

.btn-secondary {
  background: $dark-color;
  border-color: $dark-color;

  &:hover, &:active{
    background: $dark-color !important;
    border-color: $dark-color !important;
  }

  &:focus,
  &:focus:active {
    box-shadow: 0 0 7px $dark-color !important;
  }
}

h3 {
  color: $primary-color;
}

.dropdown--left .dropdown--menu {
  left: -80px;
  top: 10px;
}

.dropdown--circled {

  .dropdown-toggle > .fas:before {
    border-radius: 100%;
    background: $primary-color;//#ddd; //$primary-color;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    justify-content: center;
  }
}

// Remove the caret from dropdown toggles
.dropdown-toggle--no-caret::after {
  display: none;
  content: '';
}

.dropdown--user .dropdown-menu {
  left: -100px;
}

.fas:before {
  font-size: 0.9rem;
}

.courses {
    list-style: none;
}

.course-modal .phx-modal-content {
    max-width: 720px;
}

.course {
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px;
  margin-top: 32px;
}

.course_name {
  font-weight: bold;

  a {
    color: #333;
  }
}

.course_date {
  color: #666;
}

header {
  border-bottom: 1px solid #ddd;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list--my-courses {

}

