<section class="row">
  <div class="col-4 offset-4">
    <h2 class="mt-5 mb-4">Benutzer bearbeiten</h2>

    <%= render "form.html", assigns
    |> Map.put(:action, Routes.user_path(@conn, :update, @user))
    |> Map.put(:back, Routes.user_path(@conn, :index))
    %>
  </div>
</section>
